/*responsive compactMode*/
@media (max-width: 560px) {
  * {
    box-sizing: border-box;
  }
  .vgt-compact thead {
    display: none;
  }

  .vgt-compact,
  .vgt-compact tbody,
  .vgt-compact tr,
  .vgt-compact td {
    display: block;
    width: 100%;
  }
  .vgt-compact tr {
    margin-bottom: 15px;
  }
  .vgt-compact td {
    text-align: right;
    position: relative;
  }
  .vgt-compact td::before {
    content: attr(data-label);
    position: relative;
    float: left;
    left: 0;
    width: 40%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }
}
