/*responsive compactMode*/
@media (max-width: 560px) {
  .vgt-compact {
    * {
      box-sizing: border-box;
    }

    tbody,
    tr,
    td {
      display: block;
      width: 100%;
    }
    thead {
      display: none;
    }
    tr {
      
      margin: 12px 0;
    }
    td {
      text-align: right;
      position: relative;
      &:before {
        content: attr(data-label);
        position: relative;
        float: left;
        left: 0;
        width: 40%;
        padding-left: 10px;
        font-weight: bold;
        text-align: left;
      }
    }
  }
  .compact-line-numbers {
    width: 100%;
    display: block;
    padding: 0.3em 1em !important;
    border: 1px solid gray;
    border-radius: 0.75em 0.75em 0 0;
    background: linear-gradient(#F4F5F8, #F1F3F6);
  }
}
