.vgt-loading{
  position: absolute;
  width: 100%;
  z-index: 10;
  margin-top: 117px;
  &__content{
    background-color: lighten($link-color, 25%);
    color: $link-color;
    padding: 7px 30px;
    border-radius: 3px;
  }
}

.vgt-inner-wrap.is-loading{
  opacity: 0.5;
  pointer-events: none;
}