.vgt-wrap__actions-footer{
  border: 1px solid $border-color;
}
.vgt-wrap__footer{
  color: $text-color;
  padding:  1em;
  border: 1px solid $border-color;
  background: linear-gradient($thead-bg-color-1, $thead-bg-color-2);
  .footer__row-count{
    &__label, &__select{
      display: inline-block;
      vertical-align: middle;
    }
    &__label{
      font-size: 1.2rem;
    }
    &__select{
      background-color: #fff;
      width: 40px;
      border: 1px solid #333;
      font-size: 1.2rem;
      margin-left: 8px;
    }
  }
  .footer__navigation{
    font-size: 1.2rem
    &__page-btn, &__info, &__page-info{
      display: inline-block;
      vertical-align: middle;
    }
    &__page-btn{
      text-decoration: none;
      color: $text-color;
      font-weight: bold;
      white-space:nowrap;
      &:focus{
        outline: none;
        border: 0;
      }
      &.disabled,
      &.disabled:hover {
        opacity: 0.5;
        cursor: not-allowed;
        .chevron.left:after{
          border-right-color: $text-color;
        }
        .chevron.right:after{
          border-left-color: $text-color;
        }
      }
      .chevron{
        width:  24px;
        height:  24px;
        border-radius: 15%;
        position:  relative;
        margin:  0;
        &:after{
          content:  '';
          position:  absolute;
          display:  block;
          left:  50%;
          top:  50%;
          margin-top:  -6px;
          border-top: 6px solid transparent;
          border-bottom: 6px solid transparent;
        }
        &.left::after{
          border-right:  6px solid $link-color;
          margin-left:  -3px;
        }
      
        &.right::after{
          border-left:  6px solid $link-color;
          margin-left:  -3px;
        }
      }
       > button:first-of-type {
         margin: 0;
       } 
    }
    &__info, &__page-info{
      display: inline-block;
      margin:  0px 16px;
    }
    &__page-info{
      &__current-entry{
        width: 30px;
        text-align: center;
        display: inline-block;
        margin: 0px 10px;
        font-weight: bold;
      }
    }
  }
}

@media only screen and (max-width: 750px) {
  /* on small screens hide the info */
  .vgt-wrap__footer .footer__navigation__info{
    display:  none;
  }
  .vgt-wrap__footer .footer__navigation__page-btn{
    margin-left: 16px;
  }
}