.vgt-table{
  & th{
    padding: .75em 1.5em .75em .75em;
    vertical-align: middle;
    position: relative;
    &.sorting{
      cursor: pointer;
    }
    &.sorting:after  {
      content: '';
      display: none;
      position: absolute;
      height: 0px;
      width: 0px;
      right: 6px;
      top: 50%;
      margin-top: -3px;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-bottom: 6px solid $link-color;
    }
    &.sorting:hover:after{
      display: inline-block;
      border-bottom-color: lighten($link-color, 10%);
    }
  }
  & th.line-numbers, & th.vgt-checkbox-col {
    padding: 0 .75em 0 .75em;
    color: $text-color;
    border-right: 1px solid $border-color;
    word-wrap: break-word;
    width: 25px;
    text-align: center;
    background: linear-gradient($thead-bg-color-1, $thead-bg-color-2);
  }
  & th.filter-th {
    padding: .75em .75em .75em .75em;
  }

  th.vgt-row-header{
    border-bottom: 2px solid $border-color;
    border-top: 2px solid $border-color;
    background-color: lighten($border-color, 10%);
  }

  thead th{
    color: $text-color;
    vertical-align: bottom;
    border-bottom:  1px solid $border-color;
    padding-right: 1.5em;
    background: linear-gradient($thead-bg-color-1, $thead-bg-color-2);
    &.vgt-checkbox-col{
      vertical-align: middle;
    }
    &.sorting-asc, &.sorting-desc {
      color: darken($text-color, 15%);
      &:after  {
        content: '';
        display: block;
      }
    }
    &.sorting-desc:after {
      border-top:  6px solid $link-color;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-bottom: none;
    }
  }
}
