table.vgt-table{
  font-size: 16px;
  border-collapse: collapse;
  background-color: white;
  width: 100%;
  max-width: 100%;
  table-layout: auto;
  border: 1px solid $border-color;
  & td {
    padding: .75em .75em .75em .75em;
    vertical-align: top;
    border-bottom:  1px solid $border-color;
    color: $text-color;
  }
  & tr.clickable {
    cursor: pointer;
    &:hover{
      background-color: $highlight-color;
    }
  }
}
