
// grey ramp
$base-grey: #DCDFE6;
$light-grey: #E4E7ED;
$lighter-grey: #EBEEF5;
$extra-light: #F2F6FC;

$text-color: #606266;
$input-border-color: $base-grey;
$border-color: $base-grey;

$thead-bg-color-1: #F4F5F8;
$thead-bg-color-2: #F1F3F6;

//link
$link-color: #409eff;