
// grey ramp
$base-grey: #DCDFE6 !default;
$light-grey: #E4E7ED !default;
$lighter-grey: #EBEEF5 !default;
$extra-light: #F2F6FC !default;

$text-color: #606266 !default;
$secondary-text-color: #909399 !default;
$input-border-color: $base-grey !default;
$border-color: $base-grey !default;
$highlight-color: #F1F5FD !default;

$thead-bg-color-1: #F4F5F8 !default;
$thead-bg-color-2: #F1F3F6 !default;
$chevron-color: darken($thead-bg-color-1, 12%);

// link
$link-color: #409eff;
$notify-bg-color: #fdf9e8;
$notify-fg-color: #b38d28;