$thead-bg-color-1: #2C394F;
$thead-bg-color-2: #2C394F;
$chevron-color: lighten($thead-bg-color-1, 10%);

$text-color: #C7CED8;
$secondary-text-color: #8290A7 ;
$border-color: #435169;
$input-border-color: $border-color;

$table-bg: #324057;
$highlight-color: #445168;