$thead-bg-color-1: #E4EBF3;
$thead-bg-color-2: #E4EBF3;
$thead-bg-color-3: #f7fafc;

$header-color: darken(#8395aa, 10%);
$text-color: #394567;
$link-color: #5e72e4;
$focus-color: #4D96FB;
$text-color-td: #525f7f;
$text-shadow-color: lighten(#2C394F, 10%);

$secondary-text-color: rgb(152, 165, 185) ;
$border-color: #e3e8ee;
$border-color-td: #E4EBF3;

$input-border-color: transparent;
$input-bg: #34445f;

$table-bg: #FFFFFF;
$highlight-color:#fff;
$white: #FFFFFF;