$thead-bg-color-1: #4c5c79;
$thead-bg-color-2: #4e5d7c;

$chevron-color: lighten($thead-bg-color-1, 10%);

$text-color: #dae2f0;
$text-color-td: rgb(73, 81, 94);
$text-shadow-color: lighten(#2C394F, 10%);

$secondary-text-color: rgb(152, 165, 185) ;
$border-color: #435169;
$border-color-td: #bbc5d6;

$input-border-color: transparent;
$input-bg: #34445f;

$table-bg: #dfe5ee;
$highlight-color:#fff;