$thead-bg-color-1: lighten(#2C394F, 18%);
$thead-bg-color-2: lighten(#2C394F, 16%);

$text-color: #dae2f0;
$text-color-td: rgb(73, 81, 94);
$text-shadow-color: lighten(#2C394F, 10%);

$secondary-text-color: rgb(152, 165, 185) ;
$border-color: #435169;
$border-color-td: #bbc5d6;
$input-border-color: $border-color;

$table-bg: #dfe5ee;
$highlight-color: #445168;